:root {
    --LimeGreen: hsl(163, 72%, 41%);
    --BrightRed: hsl(356, 69%, 56%);
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: hsl(329, 93%, 34%);
    --YouTube: hsl(348, 97%, 39%);

    --DarkThemeToggle: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --LightThemeToggle: hsl(230, 22%, 74%);

    --VeryDarkBlue: hsl(230, 17%, 14%);
    --VeryDarkPaleBlue: hsl(232, 19%, 15%);
    --DarkDesaturatedBlue: hsl(228, 28%, 20%);
    --DesaturatedBlue: hsl(228, 34%, 66%);
    --White: hsl(0, 0%, 100%);

    --White: hsl(0, 0%, 100%);
    --VeryPaleBlue: hsl(225, 100%, 98%);
    --LightGrayishBlue: hsl(227, 47%, 96%);
    --DarkGrayishBlue: hsl(228, 12%, 44%);
    --VeryDarkBlue: hsl(230, 17%, 14%);



    --Family: [Inter](https: //fonts.google.com/specimen/Inter)
            --Weights: 400, 700
    }


    [data-theme='light'] {
        --VeryDarkBlue: hsl(0, 0%, 100%);
        --VeryDarkPaleBlue: hsl(225, 100%, 98%);
        --DarkDesaturatedBlue: hsl(227, 47%, 96%);
        --DesaturatedBlue: hsl(228, 12%, 44%);
        --White: hsl(230, 17%, 14%);  
    }